@font-face {
  font-family: "Cirka Regular";
  src: url(../assets/fonts/Cirka_Font_Family/Cirka\ Regular\ 400.ttf);
}

@font-face {
  font-family: "Marby Pro";
  src: url(../assets/fonts/MabryPro-Regular/MabryPro-Regular.otf);
}
